<div class="col-md-4 offset-md-4">
    <h1>Registration Form</h1>
    <br>
    <form [formGroup]='signInForm' (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input type="text" class="form-control" id="username" name="usernameField" formControlName="name">
  
        <div *ngIf="f.name.touched && f.name.invalid">
          <div class="text-danger" *ngIf="f.name.errors.required">This Field is required </div>
          <span class="text-danger" *ngIf="f.name.errors.minlength || f.name.errors.maxlength ">minimum of 5
            charcters</span>
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Id</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email">

        <div *ngIf="f.email.touched && f.email.invalid">
          <div class="text-danger" *ngIf="f.email.errors.required">This Field is required </div>
          <span class="text-danger" *ngIf="f.email.errors.minlength || f.email.errors.maxlength ">minimum of 5
            charcters</span>
        </div>
      </div>

      <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="phonenumber" name="phonenumber" formControlName="number">
  
        <div *ngIf="f.number.touched && f.number.invalid">
          <div class="text-danger" *ngIf="f.number.errors.required">This Field is required </div>
          <span class="text-danger" *ngIf="f.number.errors.minlength || f.number.errors.maxlength ">minimum of 5
            charcters</span>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="passwordField"
         formControlName="password">
  
        <div *ngIf="f.password.touched && f.password.invalid">
          <div class="text-danger" *ngIf="f.password.required">This Field is required </div>
          <div class="text-danger" *ngIf="f.password.errors.minlength || f.password.errors.maxlength ">minimum of 5
            charcters</div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="cnf password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="cnf password" name="Confirm Password" formControlName="confirmPassword">
  
        <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
          <div class="text-danger" *ngIf="f.confirmPassword.errors.required">Confirm Password is required </div>
          <div class="text-danger" *ngIf="f.confirmPassword.errors.MustMatch"> Password is not mathing</div>
        </div>
      </div>
  
      <button type="submit" [disabled]="signInForm.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>

  
